# IEEE Future Networks World Forum - Session 1: Introduction to Python Programming - L4


# Conditional Statements and Loops in Python

* ## if / if-else / if-elif-else

* ## While Loops

* ## For loops

## 1.  ```if``` Statement 

```python 
if <condition>:
    <statement> 
```

We can have many statements in ```if``` block (same indentation )

```python
<code>
if <condition>:
    <statement A>
    <statement B>
    ...
    <statement N>
<code>
```
Nested ```if``` statements can be used:

```python
<code>
if <condition A>:
    <statement A>
    if <condition B>:
        <statement B>
        if <condition C>:
            <statement C>
<code>
```

In [ ]:
salary = 40000
sale=10000
bonus=5000

if sale >= 100000:
    salary +=bonus

print(f'Your salary: {salary}')

In [ ]:
salary = 40000
sale=120000
bonus=5000

if sale >= 100000:
    salary +=bonus
    print(f'GREAT JOB !')
print(f'Your salary: {salary}')

In [ ]:
salary = 45000
sale=120000
bonus=5000
extrabonus=2000

if sale >= 100000:
    salary +=bonus
    print(f'GREAT JOB !')
    if salary <= 40000:
        salary +=extrabonus
        print(f'EXTRA BONUS TIME !')
   
print(f'Your salary: {salary}')
# FIND THE BUG

## 2.  ```if-else``` Statement 

```python 
<code>
if <condition>:
    <statement(s) A>
else:
    <statement(s) B>
<code>
```

Nested ```if-else``` statements can be used:

```python
<code>
<code>
if <condition A>:
    <statement A>
    if <condition B>:
        <statement B> 
    else:
        <statement C>
else:
    <statement(s) D>
<code>
```

In [ ]:
salary = 40000
sale=10000
bonus=5000

if sale >= 100000:
    salary +=bonus
    print(f'GREAT JOB !')
else:
    print(f'No BONUS for you')
print(f'Your salary: {salary}')

## 3.  ```if-elif-else``` Statement 

```python 
<code>
if <condition A>:
    <statement(s) A>
elif <condition B>:
    <statement(s) B>
elif <condition C>:
    <statement(s) C>    
else:
    <statement(s) D>
<code>
```

In [ ]:
salary = 40000
sale=1220000
bonus=5000

if sale >= 100000:
    salary +=bonus
    print(f'GREAT JOB !')
elif sale >= 200000:
    salary +=2*bonus
    print(f'GREAT JOB ! DOUBLE BONUS')
else:
    print(f'No BONUS for you')
print(f'Your salary: {salary}')
# Find the bug

In [ ]:
salary = 40000
sale=1220000
bonus=5000

if sale < 200000 and sale >= 100000:
    salary +=bonus
    print(f'GREAT JOB !')
elif sale >= 200000:
    salary +=2*bonus
    print(f'GREAT JOB ! DOUBLE BONUS')
else:
    print(f'No BONUS for you')
print(f'Your salary: {salary}')
# Find the bug

### ONE LINE IF STAEMENTS

```python
if <condition>:
    <statement>

if <condition>: <statement>
    
if <condition>: <statement(A)>; <statement(B)>; ...; <statement(N)>
    
<statement> if <conditional> else <statement>
```

In [ ]:
a=10; b=20

if a>b:
    x=10
else:
    x=20
print(f'{x}')

x = 10 if a>b else 20 

print(f'{x}')

In [ ]:
a=10; b=10

x = (10 if a>b else
     20 if a==b else
     30)

print(f'{x}')

In [ ]:
Grade = 75

x = ('A' if Grade>=89.5 else
     'B' if Grade>=79.5 else
     'C' if Grade>=69.5 else
     'D' if Grade>=59.5 else
     'F')

print(f'{x}')

In [ ]:
salary = 40000
sale=10000
bonus=5000

if sale >= 100000:
    salary +=bonus

print(f'Your salary: {salary}')
# print(f'Your salary: {salary} and your bonus is {bonus if sale>=100000 else 0}')

### PASS Statement

```python

salary = 40000
sale=10000
bonus=5000

if salary>=100000:
    {
    }

print(f'Your salary: {salary}')

```

In [ ]:
salary = 40000
sale=1000000
bonus=5000

if sale>=100000:
    {
    }   # pass -> Place holder

print(f'Your salary: {salary}')

# WHILE LOOP

There are two types of iterations:

* indefinite iteration:
* definite iteration:

```python
<code>
while <expr>:
    <statement(s)>
<code>
```

In [ ]:
a=10

while a<10:
    print(a)
    a=a-1
print('DONE')

In [ ]:
a=10

while a>1:
    print(a)
    a=a-1
print('DONE')

In [ ]:
a=10

while a>0:
    a-=1
    print(a)
print('DONE')

In [ ]:
x=[1,2,3,4]
while x:
    print(f'{x.pop(-1)**2}')
x=[1,2,3,4]
print('++++++++++++')
while x:
    print(f'{x.pop(0)**2}')

In [ ]:
x=[1,2,3,4]
while x:
    x.pop(-1)
    print(f'jello')

## ```break``` and ```continue``` Statements

* ```break``` statement terminates the loop. 
* ```continue``` statement terminates the current loop iteration.

In [ ]:
x = 10
while x > 0:
    x -= 1
    if x == 4:
        break
    print(f'number is {x}')
print('DONE !')

In [ ]:
x = 10
while x > 0:
    x -= 1
    if x == 4:
        continue
    print(f'number is {x}')
print('DONE !')

```While - else``` 

```python
while <iteration>:
    <statement A>
else:
    <statement B>
```
How about 

```python
while <iteration>:
    <statement A>
<statement B>
```

In [ ]:
x = 10
while x > 0:
    x -= 1
    if x == 4:
        break
    print(f'number is {x}')
else:
    print('COOL')
print('DONE !')

In [ ]:
x = 10
while x > 0:
    x -= 1
    if x == 4:
        continue
    print(f'number is {x}')
else:
    print('COOL')
print('DONE !')

## Infinite Loops

In [ ]:
while True:
    print('hello')

In [2]:
x=[1,2,3,4]
while True:
    if not x:
        break
    x.pop(-1)
    print(f'jello')

jello
jello
jello
jello

## Nested While Loops

```python
while <iter1>:
    statement A1
    statement A2

    while <iter2>:
        statement B1
        statement B2
```

In [4]:
x=[1,2,3,4]
while x:
    y=['A','B']
    m=x.pop(0)
    while y:
        n=y.pop(0)
        print(m,n)

1 A
1 B
2 A
2 B
3 A
3 B
4 A
4 B

## one-line while loops

In [5]:
x=10
while x > 0: x = x- 1; print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# ```for``` loops

Like the while loop the for loop is a programming language statement, i.e. an iteration statement, which allows a code block to be repeated a certain number of times.

```python
for <variable> in <sequence>:
	<statements>
```

In [8]:
x = [1, 2,3,4,5,6,7,8]
for i in x:
    print(f'number {i}')
print("DONE")

number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
DONE

In [10]:
# Using range
for i in range(10):
    print(f'number {i}')
print("DONE")

number 0
number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
number 9
DONE

In [11]:
for i in range(2,10,2):
    print(f'number {i}')
print("DONE")

number 2
number 4
number 6
number 8
DONE

In [13]:
x = [10, 20,30,40,50,60,70,80]
for i in range(len(x)):
    print(f'number {i},{x[i]}')
print("DONE")

number 0,10
number 1,20
number 2,30
number 3,40
number 4,50
number 5,60
number 6,70
number 7,80
DONE

In [14]:
x = [10, 20,30,40,50,60,70,80]
for i,j in enumerate(x):
    print(f'number {i},{j}')
print("DONE")

number 0,10
number 1,20
number 2,30
number 3,40
number 4,50
number 5,60
number 6,70
number 7,80
DONE

In [15]:
# EXAMPLE: print x,x^2,x^3
x = [1, 2,3,4]
for i in x:
    print(f'number {i},{i**2},{i**3}')
print("DONE")

number 1,1,1
number 2,4,8
number 3,9,27
number 4,16,64
DONE

In [18]:
# EXAMPLE: print x=[1,2,3,4] and y=[10,20,30,40] , x*y
x = [1, 2,3,4]
y=[10,20,30,40]
for i,j in zip(x,y):
    print(f'number {i*j}')
print("DONE")

number 10
number 40
number 90
number 160
DONE

# ```for-else``` loops

Like the while loop the for loop is a programming language statement, i.e. an iteration statement, which allows a code block to be repeated a certain number of times.

```python
for <variable> in <sequence>:
	<statements>
else:
	<statements>

In [26]:
x = [1, 2,3,4]
y=[10,20,30,40]
for i,j in zip(x,y):
    print(f'number {i*j}')
else:
    print('HELLO')
print("DONE")

number 10
number 40
number 90
number 160
HELLO
DONE

In [7]:
x = [1, 2,3,4,5,6,7,8]
for i in x:
    if i == 5:
        print("There is 5 in x")
        break
    print(f'number {i}')
else:
    print("HAHA")
print("DONE")

number 1
number 2
number 3
number 4
There is 5 in x
DONE

In [21]:
x = [1, 2,3,4,5,6,7,8]
for i in x:
    if i == 5:
        #print("There is 5 in x")
        continue
    print(f'number {i}')
else:
    print("HAHA")
print("DONE")

number 1
number 2
number 3
number 4
number 6
number 7
number 8
HAHA
DONE

In [24]:
# Find bug
color = ["red"]
for i in color:
    if i == "red":
        color += ["black"]
    if i == "black":
        color += ["white"]
print(color)

['red', 'black', 'white']

In [25]:
color = ["red"]
for i in color[:]:
    if i == "red":
        color += ["black"]
    if i == "black":
        color += ["white"]
print(color)

['red', 'black']

## List Comprehensions

In [27]:
#create a list with x=y^2
x=[]
y=[1,2,3,4]
for i in y:
    x.append(i**2)
print(x)

[1, 4, 9, 16]

In [28]:
# (resulting values) = [(expression) for (value) in (collection)]
x=[i**2 for i in y]
x

[1, 4, 9, 16]

In [29]:
# filtering
# we will find even numbers in a list
y=[1,2,3,4,4,5,6,7,8,9,0,1,2,3,4,5]
x = [i for i in y if i % 2 == 0]
x

[2, 4, 4, 6, 8, 0, 2, 4]

In [34]:
even = [x * x for x in range(10) if x % 2 == 0]
even = [x * x for x in range(10) if x % 2 == 0 and x>5]
even

[36, 64]

## References

* [**Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud**](https://amzn.to/2VvdnxE).
 
* https://realpython.com/